#movies {
    position: relative;
    height: 650px;
    width: 50px;
}

#text {
    text-align: center;
    margin-top: 100px;
    font-size: 5rem;
}

#netflix {
    text-align: center;
    color: whitesmoke;
    position: relative;
    top: 200px;
}

#fine {
    position: relative;
    margin: 30px 30px;
    margin-top: 8px;
}

.row {
    position: relative;
    margin: 10px 10px;
}

#fis {
    text-align: center;
    color: red;
}